:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #f3f4f6;              /* light text */
  background-color: #1f2937;  /* dark gray (nice, not too black) */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: #1f2937;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 6px;
  border: none;
  padding: 8px 12px;
  font-size: 0.95em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

